/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

  
 h1 { font-size: 1.8em; }
 h2 { font-size: 1.6em; color: #999; }
 
 h1#site-name { font-size: 1.8em; margin: 20px 0 0 10px; }
 
 h2#site-slogan { font-size: 1.1em; margin: 10px 0 0 10px; }

#wrapper {
    width: 100%;
    background: url("images/_elimos-bg2.jpg") repeat-x 0 0 transparent;
    }
    
#branding {
    float: left;
    margin: 0 0 60px;
}

#footer-wrapper {
    margin: 0 auto;
    width: 100%;
}

#myfooter {
    background-color: #333;
    color: #fff;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px 20px;
}

.nav .block-menu ul li a.active {
/* #017dc3; */
    background-color: #666;
    color: #fff;
    text-transform: uppercase;
}

.nav .block-menu ul li a:hover {
    background-color: #ccc;
    color: #fff;
}

ul.secondary, .section-collapsible, .region-highlighted, #columns {
    background-color: #fff;
}

.nav .block-menu ul li a {
    background-color: transparent;
    color: #666;
    text-transform: uppercase;
} 

#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a {
    display: block;
    line-height: 2.5em;
    padding: 0 1.5em;
    margin: 0 .5em;
    white-space: nowrap;
}

.form-item {
    margin: 0;
}



#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a {
    margin: 0 .5em 0 0; }

.region-top-menu {
    width: 300px;
    float: right;
}

.region-top-menu .block {
    width: 300px;
    float: right;
}

#block-menu-menu-footer-menu .block-content ul li.leaf {
    list-style-image: url("../../misc/_menu-leaf.png");
    list-style-type: none;
}
#block-menu-menu-footer-menu ul li.leaf {
    border-bottom: 1px solid #CCCCCC;
    line-height: 2.2em;
    list-style-image: url("../../misc/_menu-leaf.png");
    list-style-type: none;
    margin: 0 0 0 -16px;
}

#block-menu-menu-footer-menu .block-content ul li a:link, #block-menu-menu-footer-menu .block-content ul li a:visited {
    color: #ccc;
}

#block-menu-menu-footer-menu .block-content ul li a.active {
    color: #42a9be;
}

#block-menu-menu-footer-menu .block-content ul li a:hover {
    color: #42a9be;
}

h2.block-title {
    font-size: 1.2em;
}

/* style account edit 
input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select { width: 250px; } */