/**
 * elimosmobi.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

 body { line-height: 1.3; }

 blockquote, p { margin: 1em 0; }
 

 h1 { font-size: 1.8em; }
 h2 { font-size: 1.6em; color: #999; }
 
 #logo { margin: 0 100px 0 0; }
 
 h1#site-name { font-size: 1.8em; margin: 20px 0 0 10px; }

 h1#site-name a, h1#site-name a:visited { color: #fff;}
 
 h2#site-slogan { font-size: 1.1em; margin: 0 0 9px 10px; color: #fff; }

 .comment header h3 a, h1 a, h1.node-title a { color: #017dc3; }
.snw-b #site-name, .ssw-b #site-slogan, .ptw-b #page-title, .ntw-b .node-title, .ctw-b .comment-title, .btw-b .block-title { font-weight: 300; }

article > header { border-bottom: 0px solid #E6E4DE; }
article { margin-bottom: 0; }

h1#node-title { margin: 0; padding: 0; color: #017dc3; } 

.field { padding: 0; }

article .node-content { padding: 0; }

#page-title { margin: 0; padding: 10px 0 0; }

#wrapper {
    width: 100%;
    background: url("images/elimosbg.jpg") repeat-x 0 0 #e7e6e6; 
    }
    
#branding {
    float: left;
    margin: 20px 0 0 0;
    width: 50%;
}

#footer-wrapper {
    margin: 0 auto;
    width: 100%;
}

#myfooter {
    background-color: #333;
    color: #fff;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px 20px;
}

.nav .main-menu ul li a {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

.nav .main-menu ul li a.active {
/* #017dc3; */
    background-color: #017dc3;
    color: #fff;
    text-transform: uppercase;
}

.nav .main-menu ul li a:hover {
    background-color: #017dc3;
    color: #fff;
}

.main-menu ul.menu { background-color: #222; color: #fff; height: 44px; 
border-bottom: 13px solid #017dc3; }

ul.secondary, .section-collapsible, .region-highlighted, #columns {
    background-color: #fff;
} 

#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a {
    display: block;
    line-height: 2.3em;
    padding: 0 1em;
    margin: 0 .5em;
    white-space: nowrap;
}

.form-item {
    margin: 0;
}

#page > header {
     background-color: transparent; color: #fff; clear: none; padding: 18px 0 0 0; }


#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a {
    margin: 0.4em 0.5em 0 1em; }

.region-top-menu {
    width: 300px;
    float: right;
    background-color: #017DC3;
}

.region-top-menu ul.menu { background-color: #017dc3; color: #fff; }

.region-top-menu ul.menu li a { color: #fff; }

.region-top-menu .block {
    width: 300px;
    float: right;
}

#block-menu-menu-footer-menu .block-content ul li.leaf {
    list-style-image: url("../../misc/_menu-leaf.png");
    list-style-type: none;
}
#block-menu-menu-footer-menu ul li.leaf {
    border-bottom: 1px solid #CCCCCC;
    line-height: 2.2em;
    list-style-image: url("../../misc/_menu-leaf.png");
    list-style-type: none;
    margin: 0 0 0 -16px;
}

#block-menu-menu-footer-menu .block-content ul li a:link, #block-menu-menu-footer-menu .block-content ul li a:visited {
    color: #ccc;
}

#block-menu-menu-footer-menu .block-content ul li a.active {
    color: #42a9be;
}

#block-menu-menu-footer-menu .block-content ul li a:hover {
    color: #42a9be;
}

h2.block-title { font-size: 1.4em; color: #017dc3; }

/* styling for photo gallery */

.field-type-image img {
    float: left;
    padding: 0.3em;
    margin: 0.2em;
    border: 1px solid #ccc;
}

/* styling for slideshow */
.flex-nav-container { margin-bottom: 0; }
.banner-slideshow { float: right; overflow: hidden; max-width: 400px; }
.banner-slideshow img { padding: 0; margin: 0; }
.flexslider { border: none;  }

.flex-direction-nav a { opacity:1; }
.flex-direction-nav a:hover { opacity:1; }
.flex-caption {
margin: -32px 0 0 0;
background-color: #1A1B1D;
color: #fff;
opacity: 0.8;
padding: 5px;
z-index: 100;
}

.flex-direction-nav .flex-prev { left: 0; }

.flex-direction-nav .flex-next { right: 0; }

.flex-caption p { color: #fff; }


.online-rates-block { float: left; margin: 0; padding: 0; }
.featured-services { margin: 0 0 20px 0;  }
.block { margin: 0; padding: 0; }
.columns-inner { padding-top: 0; }

.flexslider { margin: 0 0 5px 0; }
.flex-control-nav { display: none; }

/* style testimonials */
#block-views-random-testimonials-block { background-color: #e7e6e6; margin: 0 20px; padding: 10px 0; border-radius: 6px; }

.online-rates-block { padding: 0 0 20px 0; }

.flex-caption { font-size: 1em; }

.node-content img.book-now-button { border: 0px solid #E6E4DE; }